:root{
  --main-color: rgb(232, 232, 239);
  --secondary-color: rgb(86, 83, 240);
  --bg-color: rgb(249, 249, 255);

  box-sizing: border-box;
  font-size: 20x;
  padding:0;
  margin:0;
}
body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.home-container{
  background-color: var(--bg-color);
  height: max(100vh,300px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container{
  background-color: var(--main-color);
  /* height: 100px; */
  width: 150x;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 4rem;
  align-items: center;
  padding-bottom: 2rem;
  border-radius: 8px;
  text-align: center;
}

h1.home-title{
  flex:1;
  padding: 0;
}

.main-butt{
  flex: 1;
  background-color: var(--bg-color);
  border-radius: 8px;
  border-width: 3px;
  border-style: solid;
  font-weight: 700;
  border-color: black;
  width: 5rem;
  font-style: none;
  text-decoration: none;
  padding: 1em;
}

.list-container{
  box-sizing: border-box;
  background-color: var(--main-color);
  height: 80vh;
  max-height: 80vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  padding: 1rem;
  overflow-y: scroll;
}

.bp-card{
  background-color: rgb(24, 19, 85);
  color: beige;
  /* margin:1rem; */
  border-radius: 10px;
  padding: 0 1rem;
  text-align: center;
  width: 80%;
  margin: 1rem;
}

h2.bp-card-title{
  font-size: 1.4rem;
}

.bp-content-container{
  background-color: rgb(251, 251, 251);
  color: rgb(2, 2, 46);
  height: 95%;
  width: 95%;
  text-align: center;
  overflow-y: scroll;
  /* padding: 2rem; */
}

.viewer-container{
  display: flex;
  align-items: center;
  margin:0;
  box-sizing: border-box;
  padding: .5rem;
  height: 100vh;

}

.viewer-browser{
  flex:1;
  background-color: black;
  height: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  /* padding: 2rem 2rem; */
}

.bp-browser-container{
  background-color: blanchedalmond;
  width: 100%;
  margin: 1rem;

}

.viewer-bp{
  flex:3;
}
p{
  color: black;
}